# Server
PORT=3000

# CPI Config
USE_MOCK=true
CPI_BASE_URL=
CPI_CLIENT_ID=
CPI_CLIENT_SECRET=
CPI_TOKEN_URL=

# AI Provider if you are using local LLM
# AI_PROVIDER=ollama
AI_MODEL=qwen2.5:3b
OLLAMA_BASE_URL=http://localhost:11434

# Future providers (leave blank for now)
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
AI_PROVIDER=

# For Demo I am using this
GROQ_API_KEY=
GROQ_MODEL=

NODE_ENV=development

# MCP URLs
CPI_MCP_URL="http://localhost:3001/mcp"

SCHEDULER_MCP_URL="http://localhost:3002/mcp"